.index {
  height: calc(100vh - 80px - 175px);
  display: flex;
  align-items: center;
  .container {
    width: 880px;
    margin: 0 auto;
  }
  .name {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    line-height: 1.2;
  }
}
