.header {
  height: 80px;
  width: 100%;
  .inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1024px;
    width: 96%;
    height: 100%;
    margin: 0 auto;
  }
  .logo {
    background-color: #f9f9f9;
    img {
      height: 60px;
    }
  }
  .navList {
    display: flex;
  }
  .navItem {
    font-size: 22px;
    font-weight: 700;
    a {
      color: #333;
      padding-bottom: 3px;
    }
    a:hover {
      border-bottom: 3px solid #333;
    }
  }
  .navItem + .navItem {
    margin-left: 40px;
  }
}

@media screen and (max-width: 767px) {
  .header {
    .logo {
      display: none;
    }
    .nav {
      margin: 0 auto;
      width: 100%;
    }
    .navList {
      justify-content: space-around;
    }
    .navItem + .navItem {
      margin-left: 0;
    }
  }
}
