.skillCard {
  border: 3px solid #eee;
  width: 40%;
  border-radius: 20px;
  text-align: center;
  padding: 20px 30px 20px;
  margin: 0 auto;
  .title {
    font-size: 36px;
  }
  .iconWrap {
    margin-top: 20px;
  }
  .icon {
    font-size: 68px;
  }
  .skillCardBottom {
    margin-top: 30px;
    font-size: 18px;
  }

  .text {
    margin-top: 15px;
    line-height: 1.4;
  }
}
.skillCard:nth-of-type(n + 3) {
  margin-top: 40px;
}
.skillCard:nth-of-type(2n) {
  margin-left: 40px;
}

@media screen and(max-width: 767px) {
  .skillCard {
    width: 60%;
    margin: 0 auto;
  }
  .skillCard:nth-of-type(n + 3) {
    margin: 0 auto;
  }
  .skillCard:nth-of-type(2n) {
    margin: 0 auto;
  }
  .skillCard + .skillCard {
    margin-top: 40px;
  }
}

@media screen and(max-width: 559px) {
  .skillCard {
    .title {
      font-size: 22px;
    }
    .skillCardBottom {
      font-size: 16px;
    }
  }
}
